<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlogShip</title>
<!-- Agregar Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Agregar Bootstrap Icons CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<style>
    #mapa {
        height: 400px;
    }
</style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div id="top" class="container">
            <a class="nav-link" th:href="@{/index}"><i class="bi bi-rocket-takeoff"></i><i class="bi bi-caret-left"></i></a>
            
            <!-- Botón para colapsar el menú en pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/controller/logout}">Cerrar Sesión</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_USUARIO')" th:href="@{/inicio/miCuenta}">Mi cuenta</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_USUARIO')" th:href="@{/inicio/paraTi}">Para Ti</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_USUARIO')" th:href="@{/inicio/conversaciones}">Chats</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li style="margin-left: 10px;" class="nav-item active">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="nav-link">Administración</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" th:href="@{/index}"><i class="bi bi-caret-right"></i><i class="bi bi-rocket-takeoff"></i></a>
        </div>
    </nav>
</header>
<div id="inicio"></div>
<div class="container contenido1" style="margin-top: 70px;">
    <main role="main" class="pb-3">
        <div class="card">
            <div class="card-header">Crear Nuevo Post</div>
            <div class="card-body">
                <!-- El enctype es para que le formulario pueda enviar imagenes/archivos -->
                <form th:action="@{/inicio/guardarPost}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" th:required="true">
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input type="file" class="form-control-file" id="imagen" name="imagen" th:required="true" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="pieDeFoto">Pie de Foto</label>
                        <textarea class="form-control" id="pieDeFoto" name="pieDeFoto" th:required="true" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ubicacion">Ubicación</label>
                        <input type="hidden" id="ubicacion" name="ubicacion">
                        <div id="mapa"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Post</button>
                    <div id="feedback"></div>
                </form>
            </div>
        </div>
    </main>
</div>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
//Variable global para almacenar el marcador
var marker;

// Función para inicializar el mapa
function initMap() {
    // Crear una instancia del mapa y establecer su ubicación inicial
    var map = L.map('mapa').setView([51.505, -0.09], 13);

    // Agregar una capa de mapa base (en este caso, OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Manejar el clic en el mapa para obtener la ubicación
    map.on('click', function (e) {
        // Obtener las coordenadas del clic
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        // Si el marcador aún no existe, créalo
        if (!marker) {
            marker = L.marker([lat, lng]).addTo(map);
        } else {
            // Si el marcador ya existe, actualiza su posición
            marker.setLatLng([lat, lng]);
        }
     // Combina latitud y longitud en una sola cadena
        var ubicacion = lat + ',' + lng;

        // Asigna el valor combinado al campo de ubicación
        document.getElementById('ubicacion').value = ubicacion;

        // Mostrar el feedback
        document.getElementById('feedback').innerHTML = 'Ubicación seleccionada: Latitud ' + lat + ', Longitud ' + lng;
    });
}

// Llamar a la función initMap cuando el documento esté listo
$(document).ready(function () {
    initMap();
});
</script>
</body>
</html>
